/*	Less Framework 3
	by Joni Korpi
	http://lessframework.com	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Lato', sans-serif;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

li {
	list-style-type: none;
	margin-bottom: 24px;
}

.one, .two, .three, .four {
	visibility: hidden;
}

#settingsWindow{
	visibility: hidden;
	z-index: 1337;
	position: absolute;
    top: 75px;
    height: 375px;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}

.label {
	text-align: right;
	float:left;
}

.value {
	text-align: right;
	float:left;
}

#track {
	float: left;
}

.startButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');*/
	background-color:#d2331f;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #99;
	display:inline-block;
	color:#ebebeb;
	font-family: 'Lato', sans-serif;
	font-size:24px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	letter-spacing:-2px;
	
}

.startButton:hover {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');*/
	background-color:#bc3626;
}

.startButton:active {
	position:relative;
	top:1px;
}

.settingsButton {
	background-color:#e9e9e9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ccc;
	display:inline-block;
	color:#808080;
	font-family: 'Lato', sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:5px 12px;
	text-decoration:none;
	letter-spacing:-1px;
}

.settingsButton:hover {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');*/
	background-color:#cfcfcf;
}

.settingsButton:active {
	position:relative;
	top:1px;
}

.closeButton {
	clear:both;
}

.adjust, .closeButton {
	background-color:#e9e9e9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ccc;
	display:inline-block;
	color:#808080;
	font-size:12px;
	font-weight:bold;
	padding:1px 10px;
	text-decoration:none;
	letter-spacing:-1px;
}

.adjust:hover, .closeButton:hover {
	background-color:#cfcfcf;
}

.adjust:active, .closeButton:active {
	position:relative;
	top:1px;
}

/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.big, h3 {
	font-size: 26px;
	line-height: 36px;
}

.normal, body {
	font: 16px/24px 'Lato', Helvetica, Arial, sans-serif;
}

.small {
	font-size: 13px;
	line-height: 18px;
} 

/*	Default 8-column layout
	60 px columns, 24 px gutters, 60 px margins, 768 px total
	---------------------------------------------------------
	1     2      3      4      5      6      7      8     
	60px  144px  228px  312px  396px  480px  564px  648px	*/

body {
	background-color:#e9e9e9;
	padding: 0px 60px 0;
	width: 648px;
	-webkit-tap-highlight-color: rgb(255,255,0);
}

.one {
	visibility: visible;
}

#settingsWindow{
    height: 350px;
}

.label {
	width: 150px;
}

.value {
	width: 20px;
}

.closeButton {
	clear:both;
	margin-left: 325px;
}

::selection 	 	{background: rgb(255,255,0);}
::-moz-selection 	{background: rgb(255,255,0);}
img::selection 		{background: transparent;}
img::-moz-selection {background: transparent;}


article > div {
	float: left;
	width: 348px;
	margin-right: 24px;
	margin-bottom: 24px;
	padding: 24px;
	text-align:center;
	background: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
} 

article > aside {
	float: none;
	width: 348px;
	background: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 24px;
}

article > aside img {
	width: 218px;
	padding: 4px;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

article > footer {
	clear: both;
	float: none;
	width: 100%;
	margin-bottom: 24px;
}

article > header > h1 {
	font-size: 42px;
	line-height: 48px;
	margin-bottom: 24px;
}

h2, aside > header > h1 {
	font-size: 100px;
	line-height: 90px;
	letter-spacing: -5px;
	padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	/*-moz-text-shadow: yellow 0 5px 5px;
	-webkit-text-shadow: #FFF 0 1px;
	text-shadow: rgba(255,255,255,1) 1px 1px 0;*/
}

section, aside {
	margin-top: 24px;
}

ul {
	list-style-type: square;
	list-style-position: outside;
	margin: 24px 0 0 16px;
}

p {
	margin: 24px 0 0 0;
}

section > p:first-child, div > p:first-child {
	margin: 0;
}

/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/

@media only screen and (min-width: 1212px) {

	.two {
		visibility: visible;
	}

	#settingsWindow{
    	height: 375px;
	}
	

	.label {
		text-align: right;
		width: 250px;
		float:left;
	}

	.value {
		text-align: right;
		width: 50px;
		float:left;
	}

	body {
		padding: 0px 72px 0;
		width: 1068px;
		position: relative;
	}

	article > div {
		width: 600px;
		margin-bottom: 24px;
	}

	article > aside {
		float: none;
		width: 600px;
		padding: 24px;
	}

	article > aside img {
		width: 386px;
	}
	
	h2, aside > header > h1 {
	font-size: 150px;
	line-height: 120px;
	letter-spacing: -5px;
	padding-bottom: 20px;
	}
	
}	


/*	5-column layout (tablet)
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 767px) and (min-width: 480px) {
	
	
	.three {
		visibility: visible;
	}

	body {
		padding: 0px 42px 0;
		width: 396px;
		-webkit-text-size-adjust: 100%;
	}
	
	.closeButton {
		clear:both;
		margin-left: 300px;
	}
	
	
	.label {
		width: 150px;
	}

	.value {
		width: 40px;
	}

	article > div, article > footer, article > aside {
		/*float: none;*/
		clear: none;
	}

	article > div {
		width: 348px;
	}

	article > aside img {
		width: 386px;
	}
	
	article > header > h1 {
		/*color: #ccc;*/
	}
	
		h2, aside > header > h1 {
	font-size: 100px;
	line-height: 80px;
	letter-spacing: -5px;
}

	
}


/*	3-column layout (mobile)
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {
	
	/*mobile*/
	
	.four {
		visibility: visible;
	}
	
	.closeButton {
		clear:both;
		margin-left: 175px;
	}


	body {
		padding: 0px 46px 0;
		width: 228px;
		-webkit-text-size-adjust: 100%;
		font-size: 13px;
		line-height: 18px;
	}
	
	#settingsWindow{
    	height: 325px;
	}
	
	.label {
		text-align: right;
		width: 95px;
		float:left;
	}

	.value {
		text-align: right;
		width: 20px;
		float:left;
	}


	article > div {
		width: 192px;
		padding: 18px;
		margin-bottom: 18px;
	}

	article > header > h1 {
		font-size: 36px;
		line-height: 48px;
		margin-bottom: 24px;
	}

	h2 {
		font-size: 55px;
		line-height: 36px;
		letter-spacing: 0px;
	}

	article > div > header > h2 {
		font-size: 16px;
		line-height: 24px;
	}

	article > div, article > footer {
		/*float: none;*/
		clear: none;
	}

	article > aside {
		width: 192px;
		padding: 18px;
		float: none;
		clear: none;
	}

	p, section, aside, ul {
		margin-top: 18px;
	}
	
	.adjust, .closeButton {
	padding:1px 5px;	
	}
}


